In [72]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import cross_val_score

In [3]:
data = pd.read_csv("task1b_ql4jfi6af0/train.csv")

In [9]:
data.head()

   Id         y    x1    x2    x3    x4    x5
0   0 -6.822679  0.02  0.05 -0.09 -0.43 -0.08
1   1 -6.326290 -0.13  0.11 -0.08 -0.29 -0.03
2   2 -9.302728  0.08  0.06 -0.07 -0.41 -0.03
3   3 -7.371893  0.02 -0.12  0.01 -0.43 -0.02
4   4 -6.027647 -0.14 -0.12 -0.08 -0.02 -0.08

In [51]:
X = data.drop(['Id', 'y'], axis=1)
y = data['y']

In [52]:
#Computing linear features
lin_features = X.copy()
lin_features.columns = ['phi1', 'phi2', 'phi3', 'phi4', 'phi5']

In [53]:
#Computing quadradic features
quad_features = X.pow(2)
quad_features.columns = ['phi6', 'phi7', 'phi8', 'phi9', 'phi10']

In [54]:
#Computing exponential features
exp_features = X.apply(np.exp)
exp_features.columns = ['phi11', 'phi12', 'phi13', 'phi14', 'phi15']

In [55]:
#Computing trigonometric features
trig_features = X.apply(np.cos)
trig_features.columns = ['phi16', 'phi17', 'phi18', 'phi19', 'phi20']

In [60]:
#Computing constant features
const_features = pd.DataFrame(np.ones(len(X)), columns=['phi21'])

In [68]:
features = pd.concat([lin_features, quad_features, exp_features, trig_features, const_features], axis=1)

In [69]:
features.head()

,phi1,phi2,phi3,phi4,phi5,phi6,phi7,phi8,phi9,phi10,...,phi12,phi13,phi14,phi15,phi16,phi17,phi18,phi19,phi20,phi21
0,0.02,0.05,-0.09,-0.43,-0.08,0.0004,0.0025,0.0081,0.1849,0.0064,...,1.051271,0.913931,0.650509,0.923116,0.999800,0.998750,0.995953,0.908966,0.996802,1.0
1,-0.13,0.11,-0.08,-0.29,-0.03,0.0169,0.0121,0.0064,0.0841,0.0009,...,1.116278,0.923116,0.748264,0.970446,0.991562,0.993956,0.996802,0.958244,0.999550,1.0
2,0.08,0.06,-0.07,-0.41,-0.03,0.0064,0.0036,0.0049,0.1681,0.0009,...,1.061837,0.932394,0.663650,0.970446,0.996802,0.998201,0.997551,0.917121,0.999550,1.0
3,0.02,-0.12,0.01,-0.43,-0.02,0.0004,0.0144,0.0001,0.1849,0.0004,...,0.886920,1.010050,0.650509,0.980199,0.999800,0.992809,0.999950,0.908966,0.999800,1.0
4,-0.14,-0.12,-0.08,-0.02,-0.08,0.0196,0.0144,0.0064,0.0004,0.0064,...,0.886920,0.923116,0.980199,0.923116,0.990216,0.992809,0.996802,0.999800,0.996802,1.0

In [92]:
lamdas = np.arange(0.1, 10, 0.1).tolist()

In [137]:
scores = {}

In [138]:
for ridge_coef in lamdas:   
    ridge_reg = Ridge(alpha=ridge_coef)
    score = cross_val_score(ridge_reg, features, y, scoring="neg_root_mean_squared_error", cv=5)
    scores[ridge_coef] = -score.mean()

In [140]:
min(scores, key=scores.get)

4.3

In [146]:
ridge_reg = Ridge(alpha=10, fit_intercept=False)

In [147]:
ridge_reg.fit(features, y)

Ridge(alpha=10, fit_intercept=False)

In [148]:
weights = pd.DataFrame(ridge_reg.coef_)

In [149]:
weights.to_csv("predictions.csv", header=False, index=False)

In [150]:
weights

           0
0   0.134524
1  -0.317064
2  -0.464976
3   0.220506
4   0.084503
5  -0.161253
6   0.087796
7   0.088314
8  -0.117348
9   0.034432
10 -0.510616
11 -0.836940
12 -0.987010
13 -0.398208
14 -0.464283
15 -0.481699
16 -0.605466
17 -0.605683
18 -0.504330
19 -0.578281
20 -0.561818